.nav {
    background-color: rgb(187, 187, 187);
}

.nav_item {
    display: inline-block;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #4d4c4c;
    color: white;
}

.left {
    float: left;
    background-color: rgb(224, 224, 224);
    width: 29%;
    height: 700px;
    border: 1px solid rgb(71, 71, 71);
}

.right {
    float: left;
    background-color: rgb(224, 224, 224);
    width: 70%;
    height: 700px;
    border: 1px solid rgb(71, 71, 71);
}